<!--

Diretivas são extensões da linguagem HTMl que permitem a implementação de novos comportamentos, de forma declarativa

ngApp - define as fronteiras da aplicação, o angular percorre o html procurando por essas diretivas

ngController - vincula um elemento da view ao Controller
-->

<!DOCTYPE html>
<html ng-app="listaTelefonica">
<head>
	<title>Lista Telefonica</title>
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/app.css">
	<meta charset="utf-8">
	<script src="lib/angular/angular.js"></script>
	<script src="lib/angular/angular-messages.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers/listaTelefonicaCtrl.js"></script>
	<script src="js/services/contatosAPIService.js"></script>
	<script src="js/services/operadorasAPIService.js"></script>
</head>

<!--ngController - faz o vinculo entre a view e controller 
    ng-Bind substitui o elemento por uma expressão,  pega uma coisa do $scope e exibe
 	ngRepeat para iterar sobre os itens de uma coleção ou de um objeto
 	ng-model pega uma coisa da view e define no scope, aplicados nos inputs selcts e nos texts area
 	ngClick atribui um comportamento ao evento
 	ng_options renderizar opções do select
	ngClass e ngstyle ->>  aplicando classe CSS e estilos dinamicamentes
	ngShow/ngHide/ngIf ->> exibindo um elemento condicionalmente
	ngRequired ->> define um determiando campo como obrigatório
	$prestine e $dirty verificando se  um formulário já foi utilizado alguma vez
	ngMinlength e ngMaxLength define o tamanho minimo e maximo permitido
	$error consultando os erros de um campo ou formulário
	ngPattern define uma expressão regular (RegExp) para validar um campo
	date formata data usando uma mascara
	filter-> filtra um array com base em um critério
	orderBy -> Ordena um array com base em um critério


 -->

<body ng-controller = "listaTelefonicaCtrl">
	
	<div class="jumbotron">
		<h3 ng-bind="app"></h3>
		{{message}}
		<input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="O que você está buscando?"/>
		<hr/>
		<!--{{app}} é uma outra forma de exibir o conteudo-->
		<table ng-show="contatos.length > 0" class="table table-striped">
			<tr>
				<th></th>
				<th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
				<th><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
				<th>Operadora</th>
				<th>Dt Add</th>
				<!--<th>Status</th>-->

			</tr>
			<tr ng-class="{selecionado: contato.selecionado, negrito: contato.selecionado}" ng-repeat="contato in contatos | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
				<!--pode ser feito assim
					<tr ng-class="{'selecionado negrito':contato.selecionado}" ng-repeat="contato in contatos">-->
				<td><input  type="checkbox" ng-model="contato.selecionado"></td>
				<td>{{contato.nome | uppercase}}</td>
				<td>{{contato.telefone}}</td>
				<td>{{$scope.operadora.nome | lowercase}}</td>
				<td>{{contato.data | date: 'dd/MM/yyyy'}}</td>

				<!--<td>{{contato.operadora.nome | lowercase}}</td>-->
				<!--<td><div style="width: 20px; height: 20px;" ng-style="{'background-color': contato.cor}"></div></td>-->
				


			<!--outra forma de ler o array 
			<tr ng-repeat = "(key, value) in contato">
							{{key + '-' + value}} -->			
			</tr>
		</table>
		<br/>
		<hr/>
		<form name="contatoForm">
			<input class="form-control" type="text" ng-model="contato.nome" placeholder="Nome" ng-required="true" name="nome"  ng-minlength="10"/>
			<input class= "form-control" type="text" ng-model="contato.telefone" placeholder="Telefone" ng-required="true" name="telefone"/>
			<select class= "form-control" ng-model="contato.operadora" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras | orderBy: 'nome'" name="sOperadora" ng-required = "true">
				<option value="">Selecione uma operadora</option>
			</select>
		</form>

		<div ng-show="contatoForm.nome.$dirty" ng-messages="contatoForm.nome.$error">
			<div ng-message="required" class="alert alert-danger">
				Por favor, preencha o campo nome!
			</div>
			<div ng-message="minlength" class="alert alert-danger">
				O campo nome deve ter no mínimo 10 caracteres.
			</div>
		</div>
		<div ng-show="contatoForm.telefone.$dirty" class="alert alert-danger">
			Por favor, preencha o campo telefone!
		</div>
		<div ng-show="contatoForm.telefone.$error.pattern" class="alert alert-danger">
			O campo telefone deve ter o formato DDDDD-DDDD.
		</div>
		<button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled ="contatoForm.$invalid">Adicionar Contato</button>
		<button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" ng-if ="isContatoSelecionado(contatos)">Apagar Contatos</button>
		<!--two way databind, o compilador percorre todos elementos que tenham diretivas e qndo encontra uma diretica do tipo ng model ele começa a escutar e cada vez que vc aperta a tecla ele atualiza o scope 
		
		Filtros -- transformam resultados de uma expressão, realizando operações como a formatação de dataa conversão da moeda e aordenação de Array

		-->
		<div ng-show="contatoForm.sOperadora.$invalid && contatoForm.sOperadora.$dirty" class="alert alert-danger">Por favor, selecione uma operadora!</div>
	</div>
	<div ng-include="'view/footer.html'">teste</div>

</body>
</html>